@model IdentityOwinWebApp.Demo.Models.PasswordReset 

<h1> Password Reset</h1>
<form asp-controller="Account" asp-action="PasswordReset" method="post" >
    @Html.HiddenFor(x => x.UserId);
    @Html.HiddenFor(x => x.Token);
    <p>New Password : @Html.PasswordFor(z=>z.Password)</p>
    <input type="submit"  class="btn btn-primary" value="submit" />
</form>


